In [5]:
import seaborn as sns
%matplotlib inline
import numpy as np
import pandas as pd
data = pd.read_excel('Salaries.xlsx')

In [6]:
data.head()

,Year,Experience,Type,Title,Residence,Salary,Currency,Remote work,Company location,Company size,Salary in USD
0,2020,Intermediate,Full-time,Data Scientist,DE,70000,EUR,No,DE,L,79833
1,2020,Senior,Full-time,Machine Learning Scientist,JP,260000,USD,No,JP,S,260000
2,2020,Senior,Full-time,Big Data Engineer,GB,85000,GBP,Partially,GB,M,109024
3,2020,Intermediate,Full-time,Product Data Analyst,HN,20000,USD,No,HN,S,20000
4,2020,Senior,Full-time,Machine Learning Engineer,US,150000,USD,Partially,US,L,150000